button {
    background-color: darkslategray;
    color: white;
    border: 2px solid rgb(1, 23, 36);
    padding: 7px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline;  
}

h1 {
    text-align: center;
}

.main {
    height: 400px;
    width: 1000px;
    border: 2px solid black;
    background-image: linear-gradient(palegoldenrod, white);
    align-content: center;
    display: block;
}

.picture {
    height: 400px;
    margin-left: 50%;
}


